.loading-overlay {
  position: absolute;          
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.85); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;                   
}

.loading-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  font-size: 1.2rem;
}
